# Basic Syntax

Cells containing expressions will evaluate when the cell is run. 
To evaluate the following cell, click on it and press shift and enter at the same time.
Try to predict what the expression is equal to, 
which will also be the output of the cell.

In [1]:
2 + 2

4

Variables allow us to store data temporarily. 
This data can take many forms, but one of the simplest forms is a number. 
See how we can set a variable `x` equal to one in the following cell:

In [2]:
x = 1

Now that we have defined our variable, we can use it elsewhere in our code.
The next cell contains an expression using `x`. 
By default in jupyter noteboks, 
a cell with a single evaluation or ending with a 
variable will automatically print the result of the 
evaluation or the value stored in the variable.
Try to predict the output of the following cell.

In [3]:
x + 4

5

We can also make sure something prints using the function `print()`

In [4]:
print(x + 4)

5

We can change variables after they are first defined. 
The next cell changes the value of `x`, 
and then uses it in another expression.

In [10]:
x = 3
print(x)
print(x*3)

3
9

## Problem 1

Try to predict the output of the following cell. Then copy the code to the next empty cell and change the code so that it outputs:

```
8
4
```

In [11]:
print(x)
print(x*5)

3
15

In [12]:
print(x+5)
print(x+1)

8
4

We can also define new variables using previous variables.

## Problem 2

Try to predict the output of the following cell. Then copy the code to the next empty cell and change the code so that it outputs:

```
50
3
```

In [15]:
y = x + 2
print(y)
print(y + x)

5
8

In [16]:
y = x + 47
print(y)
print(y + x - 50)

50
3

Notice that "x" remembered its value (3) from the previous evaluation. 

We can also store other kinds of data in variables. 
For example we can store letters in a variable, 
and when we do so this kind of variable is called a string or `str` in python. 
The next cell defines a string variable.
I use single quotes `'` to get python to recognize my string, 
but I could have used double quotes `"` for the same result.

In [17]:
authorName = 'RowanAndLogan'
print(authorName)

RowanAndLogan

Another important kind of data that can be stored in variables are lists. 
The next cell defines a list of four numbers. 
Notice the use of brackets `[ ]`.

In [18]:
numberList = [4, 0, 2.5, 10]
print(numberList)

[4, 0, 2.5, 10]

There is also a very useful python package called "numpy"
which can turn lists into "numpy arrays". It turns out 
that numpy arrays can be more easily used for science and math tasks
than the basic lists, so we will use them for the rest of this tutorial.

I start by `import`ing the package numpy and immediately renaming it to 
`np`. I then use this new name to ask for numpy's `array()` function to change 
`numberList` into `numberArray`.

In [19]:
import numpy as np
numberArray = np.array(numberList)
print(numberArray)

[ 4.   0.   2.5 10. ]

I can access specific items in my array using "slicing". 
For instance, if I ask for the 0th item in numberArray, 
python returns the 4. 
(please note that python, unlike Mathematica, indexes all of its arrays starting
with 0 and counts up from there).

In [20]:
numberArray[0]

4.0

## Problem 3

Place an integer in the brackets in the following cell to try to get the output of "10".

In [21]:
numberArray[3]

10.0

Numpy will treat arrays in many ways like vectors. 
This means, with the right functions, we can use various vector transformations.
For instance, we could calculate the dot product of numberArray with itself.

You can find all the functions that numpy builds in to work with
numpy arrays here: https://numpy.org/doc/stable/reference/index.html#reference

In [22]:
np.dot(numberArray, numberArray)

122.25

We can manually write out this same calculation, as seen in the following problem.

## Problem 4

Try to fill in the missing integer. Note that "taking to the power of" in python is shown using the double star `**`.

In [23]:
numberArray[0]**2 + numberArray[1]**2 + numberArray[2]**2 + numberArray[3]**2

122.25

# Operations

## Arithmetic

Python can easily be used for basic math operations just like any other basic scientific calculator. Try running the following cells that contain operations

Addition

In [24]:
7 + 5

12

Subtraction

In [25]:
7 - 5

2

Multiplication

In [26]:
7 * 5

35

Division

In [27]:
7/5

1.4

Exponents

In [28]:
7**5

16807

Parentheses can be used to specify an order of operations. Try to predict the output of both the following cells:

In [29]:
(2 + 3)*(1 + 1)

10

In [30]:
2 + (3*1) + 1

6

Parentheses can also be used to specify what is in an exponential. Try to predict the output of both the following cells:

In [31]:
2**(2 + 1)

8

In [32]:
(2**2) + 1

5

## Sympy and Calculus

Unfortunately, when it comes to more advanced math such derivatives or integrals in calculus, basic python leaves a lot to be desired. Fortunately, there's a package for that! Sympy, aka "symbolic python" has a lot of really great tools to facilitiate more advanced math. This section of the tutorial will focus on setting up and using sympy. More instructions can be found here: https://docs.sympy.org/latest/index.html and here: https://docs.sympy.org/latest/tutorial/calculus.html

First, we'll import and rename sympy to `sy`.

In [33]:
import sympy as sy

Some constants come pre-set:

In [34]:
print(sy.N(sy.E), sy.N(sy.I), sy.N(sy.pi)) #sy.N forces the value to a number

2.71828182845905 1.0*I 3.14159265358979

Now we can do factorials and logarithms:

In [35]:
sy.factorial(7)

5040

In [36]:
sy.log(7)

log(7)

Sometimes you'll want a numerical answer, to make sympy give you one, use the `N()` function:

In [37]:
sy.N(sy.log(7))

1.94591014905531

Sympy assumes the natural logarithm i.e. `base = sy.E`; to get a different one set a different `base` as the second argument to the function:

In [38]:
sy.log(7, 7)

1

To start to do calculus, we first need to set up some sympy variables. These are a bit different from regular python variables and so it's important that all your variables are clearly defined! Here, we create **sympy** variables $x$, $y$, and $\theta$, and store them in **python** variables named `x`, `y`, and `theta`.

In [39]:
x, y, theta = sy.symbols('x y theta')

In [40]:
x

x

In [41]:
y

y

In [43]:
theta #notice that we get the symbol theta, not the english word

theta

Now we can use these sympy variables to do symbolic math; if these were simply python variables python would require the variables to have numerical values to do any math with them.

In [44]:
2*x**2 #notice the pretty printing

2*x**2

To take the derivative, we use the sympy function `diff`.

In [ ]:
sy.diff(2*x**2, x)

Notice that it doesn't work if I don't explicitly multiply:

In [ ]:
sy.diff(2x**2, x)

## Problem 5

Now predict the output of the following cell. Then, in the following empty cells, take the following derivatives:

1. $\frac{d(30y^2)}{dy}$

2. $\frac{d(5e^{2x})}{dx}$

3. $\frac{d(\cos(5\theta)}{d\theta}$

In [45]:
sy.diff(30*y, y)

30

In [46]:
sy.diff(30*y**2, y)

60*y

In [47]:
sy.diff(5*sy.E**(2*x), x)

10*exp(2*x)

In [48]:
sy.diff(sy.cos(5*theta), theta)

-5*sin(5*theta)

You can see that for simple derivatives like the ones above: 
the function that you want to take the derivative of 
is the first argument of the function, 
while the variable that you are taking the derivative with 
respect to is second argument.

You can even take the second or partial derivative of something. 
Try to predict the output of the following cells:

In [49]:
sy.diff(3*x**3, x, 2)

18*x

In [50]:
sy.diff(5*x*y, x) 
#you can think of this on some level as taking a partial derivative 
#of the function with respect to x

5*y

In [53]:
sy.diff(5*x*y**2, x, y) #first the x derivative, then the y derivative

10*y

## Problem 6

In the following empty cells, take the following derivatives:

1. $\frac{\partial(30y^2 + 5e^{2x} + \cos(5\theta))}{\partial y}$

2. $\frac{\partial^2(30y^2 + 5e^{2x} + \cos(5\theta))}{\partial y\partial \theta}$

3. $\frac{\partial^2(10xy^2 )}{\partial^2 y}$

4. $\frac{\partial^2(10xy^2 )}{\partial^2 x}$

5. $\frac{\partial^2(10xy^2 )}{\partial x \partial y}$

In [51]:
sy.diff(30*y**2+5*sy.E**(2*x)+sy.cos(5*theta), y)

60*y

In [54]:
sy.diff(30*y**2+5*sy.E**(2*x)+sy.cos(5*theta), y, theta)

0

In [55]:
sy.diff(10*x*y**2, y, 2)

20*x

In [56]:
sy.diff(10*x*y**2, x, 2)

0

In [59]:
sy.diff(10*x*y**2, y, x)

20*y

Sympy also lets you integrate functions. Try running the following cell:

In [60]:
sy.integrate(x, (x, 0, 1))

1/2

To integrate to infinity use the sympy infinity object, `oo` (two lowercase oh's).

In [61]:
sy.integrate(sy.E**(-x**2), (x, 0, sy.oo))

sqrt(pi)/2

Try to predict the output of the following cell:

In [62]:
sy.integrate(x**2, (x, 0, y))

y**3/3

As you can see above: the integrand is first argument of the function, and the variable you are taking the integral over is expressed as the first entity within the inner parentheses `( )` with the lower and upper bounds following.

You can also do an indefinite integral:

In [63]:
sy.integrate(x**2, x)

x**3/3

## Problem 7

Take the following integrals.

1. $\int 8 \cos(-2 \theta) d\theta$

2. $\int_{-10}^{20} 4 x^3 dx$

3. $\int_{-\infty}^{\infty}e^{-x^2}dx$

4. $\int_{0}^{x}8y^3 + y^2 + 2y dy$

In [64]:
sy.integrate(8*sy.cos(-2*theta), theta)

4*sin(2*theta)

In [66]:
sy.integrate(4*x**3, (x, -10, 20))

150000

In [68]:
sy.integrate(sy.E**(-x**2), (x, -sy.oo, sy.oo))

sqrt(pi)

In [69]:
sy.integrate(8*y**3+y**2+2*y, (y, 0, x))

2*x**4 + x**3/3 + x**2

There is a handy feature that lets you solve equalities for variables. 
One thing to be careful of - the symbol `=` 
in python is specifically used to assign variables, 
so sympy doesn't use it to note that two expressions are equal to each other.
Instead, use the sympy function `Eq()` where the two arguments are two functions 
that are equal to each other.

The following code solves an equation for `x`.

In [ ]:
sy.solve(sy.Eq(5*x, 15), x)

## Problem 8

Solve the following equations for $x$, $y$, or $\theta$.

1. $8 \cos(-2 \theta) = 10$

2. $4 x^3 = 3$

3. $e^{-x^2} = 1$

4. $8y^3 + y^2 + 2y = 0$

In [ ]:
sy.solve(sy.Eq(sy.E**(-x**2), 1), x)

Note that the trig functions in sympy (and also numpy) assume you're in radians, not degrees. Notice that sympy analytically solves for the exact answer for $\cos(\pi/2)$, while numpy finds a numerical approximation.

In [ ]:
[sy.cos(sy.pi/2), sy.sin(sy.pi/2)]

In [ ]:
[np.cos(np.pi/2), np.sin(np.pi/2)]

Numpy is very useful for statistical calculations. Here we have defined a list of steps that someone takes while walking their dog each day:

In [ ]:
stepsWalked = np.array([5108, 6576, 2363, 1247, 6816, 3289, 2764, 2687, 2782, 5020])

We can take the mean using numpy to find the average steps walked over a 10 day period:

In [ ]:
np.mean(stepsWalked)

The total:

In [ ]:
np.sum(stepsWalked)

Standard deviation and variance:

In [ ]:
print(np.std(stepsWalked), np.var(stepsWalked))

In [ ]:
np.random.random(10)*1000

## Problem 9

The next cell defines a list of random numbers between 0 and 1000. In the next cells, calculate the mean, sum, standard deviation, and variance of the values in the list.

In [ ]:
rand_list = np.array([181.24182902, 704.29210729, 218.20596745, 556.20173066,
       440.43971705, 315.61106444, 588.91608813, 371.15551039,
       506.80480831, 548.71662385])

In python, you have the wide ability to define your own functions. 
These functions can use numpy, sympy, basic python, and any other
packages you have access too. These examples will focus on using
sympy to define symbolic math functions, but please feel free to
experiment!

The most important elements of a python function are its arguments
and what it returns. Below, I define a function `f`, which takes an argument `a`
and which returns `5 a`. I also include a "docstring" between two sets of 
triple quotation marks `"""` which serve to help readers understand what my function
does. Docstrings in functions are not required, but are **highly** recommended.

In [ ]:
def f(a):
    """
    multiply the input by 5
    
    Parameters
    ----------
    a : float or sympy symbol
        the number or variable to be multiplied

    Returns
    -------
    float or sympy symbol
        the input multiplied by 5
    """
    return a*5

We can then use the function f we defined above to determine what happens when x=3 (or any other value you wanted). Run the following cell:

In [ ]:
f(3)

We could also use our function on a sympy symbol:

In [ ]:
x, y = sy.symbols('x y') 
f(x*y)

And do calculus to them:

In [ ]:
sy.diff(f(x*y), x)

In [ ]:
sy.integrate(f(x*y), x)

You can also write functions that utilize other functions that you (or others) have already written. Here we define a function g with our previously defined function f inside of it. Run the following cell:

In [ ]:
def g(b):
    """
    run a more complex transformation on an input
    
    Parameters
    ----------
    b : float or sympy symbol
        the number or variable to be transformed

    Returns
    -------
    float or sympy symbol
        the output
    """
    return b*f(b)

Can you predict the output of the following cell?

In [ ]:
g(2)

What about this one?

In [ ]:
g(x)

## Problem 10

Define the following function:

$$h(x) = \sqrt{5*f(x)*g(x)}$$

where $f(x)$ and $g(x)$ are the functions defined above.

Then, evaluate $h(2)$, $d h(x)/dx$, and $\int h(x) dx$.

In [ ]:
def h(x):
    """
    run a more complex transformation on an input
    
    Parameters
    ----------
    b : float or sympy symbol
        the number or variable to be transformed

    Returns
    -------
    float or sympy symbol
        the output
    """
    
    return

# Loops

One of the most important and useful features of python (or any coding language) is the ability to do a series of calculations in a row. These are called loops.
There are a few types of loops in python, but we're going to focus on the `for` loop.
This will use an array as a basis for carrying out a calculation once for each item in
the array, until there are no more items.

Let's use numpy to create an array with entries from 0 to 49 
(remember that python always starts counting from zero!).

In [ ]:
a = np.arange(50)
a

Now I'll add all of them up:

In [ ]:
k = 0
for i in a:
    k += i
    print(k)

Checking that my total is correct:

In [ ]:
print(k)
print(np.sum(a))

# Problem 11

Write a for loop which prints the first 20 multiples of 5. The first item printed should be 5, and the final item should be 100.

In [ ]:
for [fill in]:
    print([fill in])

# Conditionals

You will also frequently use conditionals in this class. 
The basic idea behind conditionals is that you check IF something
is true or not and based off that determination do one action or another. 
Try and predict the outcome of the below cell 
(hint: the first line contains the check, 
the second is what happens if true, and the third is what happens if false.

In [ ]:
a = 1
b = 2

In [ ]:
if a > b:
    print('a is greater than b')
else: 
    print('a is greater than or equal to b')

## Problem 12

Copy the code in the cell above and edit it so that it prints "a is greater than b". The statement does not need to be true, it just needs to be printed!

# Visualization and Plotting

The python package matplotlib is very good at visualizing your data and results. 
The two most common ways that we will do this in Pchem and Qchem are through scatter plots (mostly with numpy) and line plots (with sympy, where the matplotlib is more hidden).

For a line plot example, let's generate a plot of $\sin$ from $\theta$ equals 0 to theta equals 2 $\pi$. 
(Find more info about the plot function here: https://docs.sympy.org/latest/modules/plotting.html#plotting-function-reference)

In [ ]:
sy.plotting.plot(sy.sin(theta), (theta, 0, 2*sy.pi), ylabel=r'$\sin(\theta)$', xlabel=r'$\theta$') 
#r in front of a string on line 2 lets me use latex to get nice math symbols

We can also plot multiple functions:

In [ ]:
sy.plotting.plot(sy.sin(theta), sy.cos(theta), (theta, 0, 2*sy.pi), 
                 legend=True, ylabel=r'$f(\theta)$', xlabel=r'$\theta$') 
#r in front of a string on line 2 lets me use latex to get nice math symbols

And we can change the limits:

In [ ]:
sy.plotting.plot(sy.sin(theta), sy.cos(theta), (theta, 0, 2*sy.pi), 
                 legend=True, ylabel=r'$f(\theta)$', xlabel=r'$\theta$',
                 ylim=(-2, 2))
#r in front of a string on line 2 lets me use latex to get nice math symbols

To change other options, we need to access the underlying matplotlib detault parameters:

In [ ]:
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = (16,9)
mpl.rcParams['font.size'] = 30
mpl.rcParams['legend.fontsize'] = 20

sy.plotting.plot(sy.sin(theta), sy.cos(theta), (theta, 0, 2*sy.pi), 
                 legend=True, ylabel=r'$f(\theta)$', xlabel=r'$\theta$',
                 ylim=(-2, 2))
#r in front of a string on line 2 lets me use latex to get nice math symbols

In [ ]:
mpl.style.use('default') #restoring matplotlib's default settings

## Problem 13

Use `sy.plotting.plot()` to plot the functions $x$, $x^2$, $x^3$, and $x^4$ from -10 to 10 on one plot. Include a legend to tell the curves apart and clear axes labels.

To generate a scatterplot, we will need to use matplotlib more explicitly. 
Let's import the package then rename it to `plt`.

In [ ]:
import matplotlib.pyplot as plt

To generate a plot, we need to give a numpy array to the `plt.plot` function:

In [ ]:
pagesList = np.array([475, 350, 575, 400, 600, 250, 350])
plt.plot(pagesList)

Note that matplotlib automatically did two interesting things. 
1. it connected the points. For most scatterplots, we don't actually want that.
2. it assumed the x-values were the indexes of the data we gave. More often,
we'll have some specific x-values in mind. In the next cell, I address both issues.

In [ ]:
weights = np.array([3.1, 2.7, 3.9, 2.9, 5.3, 2.3, 2.5])

plt.plot(weights, pagesList, 'ro') #'ro' means red circles, 
#find more options at the bottom of this page: 
#https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.plot.html
plt.xlabel('Weights')
plt.ylabel('Pages')
#notice that for matplotlib, the x and y labels are separate function calls
#but above for sympy plot the x and y labels were arguments to the original plot function

We can also plot multiple datasets, though it's easiest if they share the same x-values:

In [ ]:
weights = np.array([3.1, 2.7, 3.9, 2.9, 5.3, 2.3, 2.5])
pagesList2 = 5*pagesList

plt.plot(weights, pagesList, 'ro') #'ro' means red circles, 
plt.plot(weights, pagesList2, 'go') #'go' means green circles, 
plt.xlabel('Weights')
plt.ylabel('Pages')
#notice that for matplotlib, we got a second set of data by doing a second plt.plot()
#function call

And we can change the limits:

In [ ]:
weights = np.array([3.1, 2.7, 3.9, 2.9, 5.3, 2.3, 2.5])
pagesList2 = 5*pagesList

plt.plot(weights, pagesList, 'ro') #'ro' means red circles, 
plt.plot(weights, pagesList2, 'go') #'go' means green circles, 
plt.xlabel('Weights')
plt.ylabel('Pages')
plt.ylim(-3000, 5000)
#notice that for matplotlib, we changed the limits though a new function call

## Problem 14

Plot the following lists in a scatter plot with blue circles. Use `x_values` as the x-values and `y_values` as the y-values.

In [ ]:
x_values = np.array([181.24182902, 704.29210729, 218.20596745, 556.20173066,
       440.43971705, 315.61106444, 588.91608813, 371.15551039,
       506.80480831, 548.71662385])
y_values = x_values**2 +5*x_values +3

In [ ]:
plt.plot()

# Putting it all together

To get a sense of how python can be used in a more chemically minded way 
and practice all the skills you learned above we will 
look at the energy levels 
of H-Cl using concepts that you learned in CHEM112/114. 
Unless otherwise specified all the formulas and values below 
come from the Hanson and Green textbook used in CHEM112/114.

The total energy of H-Cl in the ground electronic state
can be broken down into 
electronic, vibrational, rotational, and translational 
energy components. 
Note, these energies assume the energy of 
HCl with an infinite bond length is zero, and that we
can treat HCl as a harmonic oscillator and a rigid rotor. 
These are assumptions you made implicitly in CHEM112/114. 
The energy level functions are given below, and the units of 
all energies are kJ/mol.

There electronic energy is

$$\varepsilon_{\textrm{elec}} = -D_e = -440.2$$

where $D_e$ is the ground state electronic energy of HCl.

The vibrational energy is

$$\varepsilon_{\textrm{vib}}(i, \mu, k) = \frac{h}{2\pi}\sqrt{\frac{k}{\mu}}\left(i + \frac{1}{2}\right)\textrm{; }i = 0, 1, 2, \dots$$

where $h$ is Plank's constant, $k$ is the force constant for the bond, describing how hard the bond is to break. 
For HCl, $k = 4772$ N/m.
$\mu$ is the reduced mass of the bond:

$$\mu = \frac{m_1 m_2}{m_1+m_2}$$

where $m_1$ and $m_2$ are the masses of the two atoms in the bond. 

The rotational energy is

$$\varepsilon_{\textrm{rot}}(J, \mu, r_e) = \left(\frac{h}{2\pi}\right)^2\frac{J(J+1)}{2\mu r_e^2}\textrm{; }J = 0, 1, 2, \dots$$

where $h$ and $\mu$ have the same meanings as in the vibrational energy function, and $r_e$ is the bond length. 
For HCl, $r_e = 1.275\times10^{-10}$ m.

The translational energy is 
$$\varepsilon_{\textrm{trans}}(n_x, n_y, n_z, m, d) = 
\frac{h}{8m}\left(\frac{n_x^2 + n_y^2 + n_z^2}{d}
\right)\textrm{; }\substack{
n_x = 1, 2, 3, \dots\\
n_y = 1, 2, 3, \dots\\
n_z = 1, 2, 3, \dots}$$ 

where $d$ is the edge length of a cube that the molecule is in,
and $m$ is its total mass. You can assume that $d = 10$ m.

## Problem 15

Define variables to hold values specific to HCl and other constants.

In [ ]:
h = 
pi =
k = 
d = 
D_e =

## Problem 16

Write functions using sympy to calculate the vibrational, rotational, and translational energies of any diatomic molecule.

Make sure that the units of the values returned by your functions
are kJ/mol. 

Hint: it will probably be useful to define an additional function for the reduced mass.

In [ ]:
def mu():
    """
    [description]
    
    Parameters
    ----------
    a : float or sympy symbol
        [description] [units]
        
    Returns
    -------
    float or sympy symbol
        [description] [units]
    """
    
    return

def e_vib():
    """
    [description]
    
    Parameters
    ----------
    a : float or sympy symbol
        [description] [units]
        
    Returns
    -------
    float or sympy symbol
        [description] [units]
    """
    
    return

def e_rot():
    """
    [description]
    
    Parameters
    ----------
    a : float or sympy symbol
        [description] [units]
        
    Returns
    -------
    float or sympy symbol
        [description] [units]
    """
    
    return

def e_trans():
    """
    [description]
    
    Parameters
    ----------
    a : float or sympy symbol
        [description] [units]
        
    Returns
    -------
    float or sympy symbol
        [description] [units]
    """
        
    return

## Problem 17 

For a given molecule, the total energy is

$$\varepsilon_{\textrm{total}}(i, \mu, k, J, r_e, n_x, n_y, n_z, m, d) =\\
\varepsilon_{\textrm{elec}} +
\varepsilon_{\textrm{vib}}(i, \mu, k) +
\varepsilon_{\textrm{rot}}(J, \mu, r_e) +
\varepsilon_{\textrm{trans}}(n_x, n_y, n_z, m, d)
$$

Write a function to calculate the total energy of HCl given some 
values for the quantum numbers $i, J, n_x, n_y, n_z$. 
Calculate the energy when all the quantum numbers are 0 
(the ground state) and when all the quantum numbers are 1.

In [ ]:
def e_tot():
    """
    [description]
    
    Parameters
    ----------
    a : float or sympy symbol
        [description] [units]
        
    Returns
    -------
    float or sympy symbol
        [description] [units]
    """
    
    return

print(e_tot()) #ground state
print(e_tot()) #higher state

## Problem 18

How fast does changing the size of the room change the energy of the molecule? Find the derivative of the total energy with respect to $d$.

In [ ]:
 = sy.symbols('d ')

sy.diff()

## Problem 19

What is the relationship between the energy and the bond strength? Plot the energy as a function of the force constant $k$.

In [ ]:
 = sy.symbols('k ')

sy.diff()

## Problem 20

Use a for loop and conditional statements to calculate the energies of all the levels where all the quantum numbers are the same and even. 

Hint: the modulus operator `%` will be useful. It returns the remainder after whole number division of the first number by the second. So, 5 % 2 = 1, but 4 % 2 = 0.

In [ ]:
for [fill in]:
    if [fill in] % [fill in] == [fill in]:
        print([fill in])