# Basic Syntax

In python, there are several different kinds of variables, called "types."
The most important types in basic python are the `int`, `float`, and `str` types. 
When speaking, `int` variables are called "ints" or "integers", 
`float` variables are called "floats", and `str` variables are called "strings."

Integers are counting numbers, with decimals or decimal point. Examples include `1` or `50`. 
Floats are numbers with decimals like `1.`, `5.2`, or `.34`. 
Strings are bits of text like `Hello world`.

In this class, we will mainly work with floats and sometimes with ints.

# Basic Syntax

Cells containing expressions will evaluate when the cell is run. 
To evaluate the following cell, click on it and press shift and enter at the same time.
Try to predict what the expression is equal to, 
which will also be the output of the cell.

In [1]:
2 + 2

4

Variables allow us to store data temporarily. 
This data can take many forms, but one of the simplest forms is a number. 
See how we can set a variable `x` equal to one in the following cell

In [2]:
x = 1

Now that we have defined our variable, we can use it elsewhere in our code.
The next cell contains an expression using `x`. 
By default in jupyter noteboks, 
a cell with a single evaluation or ending with a 
variable will automatically print the result of the 
evaluation or the value stored in the variable.
Try to predict the output of the following cell.

In [3]:
x + 4

5

We can also make sure something prints using the function `print()`

In [4]:
print(x + 4)

5

We can change variables after they are first defined. 
The next cell changes the value of `x`, 
and then uses it in another expression. 
Try to predict the output of the following cell.

In [7]:
x = 3
print(x)
print(x*5)

3
15

We can also define new variables using previous variables. 
Try to predict the output of the following cell.

In [9]:
y = x + 2
print(y)
print(y + x)

5
8

We defined a new variable "y", which is equal to "5". Notice that "x" remembered its value (3) from the previous evaluation. 

We can also store other kinds of data in variables. 
For example we can store letters in a variable, 
and when we do so this kind of variable is called a string or `str` in python. 
The next cell defines a string variable.
I use single quotes `'` to get python to recognize my string, 
but I could have used double quotes `"` for the same result.

In [13]:
authorName = 'RowanAndLogan'
print(authorName)

RowanAndLogan

Another important kind of data that can be stored in variables are lists. 
The next cell defines a list of four numbers. 
Notice the use of brackets `[ ]`.

In [14]:
numberList = [4, 0, 2.5, 10]
print(numberList)

[4, 0, 2.5, 10]

There is also a very useful python package called "numpy"
which can turn lists into "numpy arrays". It turns out 
that numpy arrays can be more easily used for science and math tasks
than the basic lists, so we will use them for the rest of this tutorial.

I start by `import`ing the package numpy and immediately renaming it to 
`np`. I then use this new name to ask for it's function to change 
`numberList` into `numberArray`.

In [15]:
import numpy as np
numberArray = np.array(numberList)
print(numberArray)

[ 4.   0.   2.5 10. ]

I can access specific items in my array using "slicing". 
For instance, if I ask for the 0th item in numberArray, 
python returns the 4. 
(please note that python, unlike Mathematica, starts all of its arrays
with 0 and count up from there.).

In [16]:
numberArray[0]

4.0

Now it's your turn to try. Place an integer in the brackets in the following cell to try to get the output of "10".

In [17]:
numberArray[]

SyntaxError: invalid syntax (722523087.py, line 1)

Numpy will treat arrays in many ways like vectors. 
This means, with the right functions, we can use various vector transformations.
For instance, we could calculate the dot product of numberArray with itself.

You can find all the functions that numpy builds in to work with
numpy arrays here: https://numpy.org/doc/stable/reference/index.html#reference

In [18]:
np.dot(numberArray, numberArray)

122.25

We can manually write out this same calculation, as seen in the following cell. Try to fill in the missing integer. Note that "taking to the power of" in python is shown using the double star `**`.

In [ ]:
numberArray[0]**2 + numberArray[1]**2 + numberArray[ ]**2 + numberArray[3]**2

# Operations

## Arithmetic

Python can easily be used for basic math operations just like any other basic scientific calculator. Try running the following cells that contain operations

Addition

In [28]:
7 + 5

12

Subtraction

In [29]:
7 - 5

2

Multiplication

In [30]:
7 * 5

35

Division

In [31]:
7/5

1.4

Exponents

In [32]:
7**5

16807

Parentheses can be used to specify an order of operations. Try to predict the output of both the following cells:

In [42]:
(2 + 3)*(1 + 1)

10

In [43]:
2 + (3*1) + 1

6

Parentheses can also be used to specify what is in an exponential. Try to predict the output of both the following cells:

In [44]:
2**(2 + 1)

8

In [45]:
(2**2) + 1

5

## Sympy and Calculus

Unfortunately, when it comes to more advanced math such derivatives or integrals in calculus, basic python leaves a lot to be desired. Fortunately, there's a package for that! Sympy, aka "symbolic python" has a lot of really great tools to facilitiate more advanced math. This section of the tutorial will focus on setting up and using sympy. More instructions can be found here: https://docs.sympy.org/latest/index.html and here: https://docs.sympy.org/latest/tutorial/calculus.html

First, we'll import and rename sympy to `sy`.

In [20]:
import sympy as sy

Some constants come pre-set:

In [40]:
print(sy.N(sy.E), sy.N(sy.I), sy.N(sy.pi)) #sy.N forces the value to a number

2.71828182845905 1.0*I 3.14159265358979

Now we can do factorials and logarithms:

In [22]:
sy.factorial(7)

5040

In [24]:
sy.log(7)

log(7)

Sometimes you'll want a numerical answer, to make sympy give you one, use the `N` function:

In [25]:
sy.N(sy.log(7))

1.94591014905531

Sympy assumes the natural logarithm i.e. `base = sy.e`; to get a different one set a different `base` as the second argument to the function:

In [27]:
sy.log(7, 7)

1

To start to do calculus, we first need to set up some sympy variables. These are a bit different from regular python variables and so it's important that all your variables are clearly defined! Here, we create **sympy** variables `x`, `y`, and `z`, and store them in **python** variables with the same names.

In [46]:
x, y = sy.symbols('x y')

Now we can use these sympy variables to do symbolic math; if these were simply python variables python would require the variables to have numerical values to do any math with them.

In [52]:
2*x**2 #notice the pretty printing

2*x**2

To take the derivative, we use the sympy function `diff`.

In [58]:
sy.diff(2*x**2, x)

4*x

Notice that it doesn't work if I don't explicitly multiply:

In [59]:
sy.diff(2x**2, x)

SyntaxError: invalid syntax (396577840.py, line 1)

Now predict the output of the following cell:

In [61]:
sy.diff(30*y, y)

30

You can see that for a simple derivative like the one above: 
the function that you want to take the derivative of 
is the first argument of the function, 
while the variable that you are taking the derivative with 
respect to is second argument.

You can even take the second derivative of something. 
Try to predict the output of the following cell:

In [64]:
sy.diff(3*x**3, x, 2)

18*x

In [65]:
sy.diff(5*x*y, x) 
#you can think of this on some level as taking a partial derivative 
#of the function with respect to x

5*y

Sympy also lets you integrate functions. Try running the following cell:

In [66]:
sy.integrate(x, (x, 0, 1))

1/2

To integrate to infinity use the sympy infinity object, `oo` (two lowercase oh's).

In [67]:
sy.integrate(sy.E**(-x**2), (x, 0, sy.oo))

sqrt(pi)/2

Try to predict the output of the following cell:

In [69]:
sy.integrate(x**2, (x, 0, y))

y**3/3

As you can see above: the integrand is first argument of the function, and the variable you are taking the integral over is expressed as the first entity within the inner parentheses `( )` with the lower and upper bounds following.

You can also do an indefinite integral:

In [70]:
sy.integrate(x**2, x)

x**3/3

There is a handy feature that lets you solve equalities for variables: